@model VuelosWeb.Models.Usuario

@{
    ViewBag.Title = "RegistrarUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/RegistrarUsuario.js">
</script>

<script type="text/javascript">
    var urlIngresarUsuario = '@Url.Action("IngresarUsuario", "Usuario")';
</script>

@section Featured{
    <div class="hero-init">
        <h2>Registrar Usuario</h2>
        <p>Registra tu usuario para poder loguearte</p>
    </div>
    }

<div>
        <div class="form-group">
            @Html.LabelFor(model => Model.Username, "Nombre de usuario")
            @Html.TextBoxFor(model => Model.Username, new { type = "text", @class = "form-control", @id = "usuario" })
        </div>

        <p>
            @Html.LabelFor(model => Model.Password, "Contraseña")
            @Html.TextBoxFor(model => model.Password, new { type = "password", @class = "form-control", @id = "password" })
        </p>

        <p>
            @Html.LabelFor(model => Model.FechaNacimiento, "Fecha de nacimiento")
            @Html.TextBoxFor(model => model.FechaNacimiento, new { type = "date", @class = "form-control", @id="fechaNacimiento"  })
        </p>

        <input type="submit" value="Registrar" id="btnRegistrarUsuario" onclick="IngresarUsuario();" />
        
    
</div>